body {
  background: #333;
  margin: 0;


}

.stor {
  background: #0017FF;
  color:black;
  font-size: 100px;
  padding: 50px 0 50px 0;
  margin:0;
  text-align: center;
  border-style: solid;
}

header {
background: orange;
color:black;
padding: 15px 0 15px 0;
border-bottom-style: solid;
border-left-style: solid;
border-right-style: solid;
}

header h1 {
margin: 0;
display: inline;

}

nav {

}

nav ul {
  margin:0;
  display:inline-block;
}

nav ul li {
background: black;
color:white;
display: inline-block;
list-style-type: none;
padding:10px 40px 10px 40px;
}

nav ul li a {
  color: white;
}
.align {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boxed {
  background:green;
  width: 1100px;
  height: 1000px;
  margin:auto;
  border-style:dotted;



}
