body {
	/* Innehållet i body går enda ut i kanten */
	margin: 0;
}


.content{
  margin:auto;
display:flex;
flex-direction: row;
 }

.links{
  display:flex;
  flex-direction:column;
background-color: brown;
padding: 10px;
white-space: nowrap;
}

.vanster{
  background-color: limegreen;
  padding: 10px;

}

.hoger {
  background-color: red;
}
header, footer {
  display:flex;
  justify-content: center;
}
@media only screen and (max-width: 800px) {

	.content {

		flex-direction: column;
	}
