p {

   /*egenskap:värde;*/

   font-family:fantasy;
}

body {
  height: 1000px;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow);


}
h1 {

color: green;

}
p {

color: red;

}
